---
import type { Playlist } from "@/lib/data";

interface Props {
    playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, title, cover, color, artists } = playlist;

const artistString = artists.join(",");
---

<a
    href={`/playlist/${id}`}
    class="playlist-item 
    transition-all 
    duration-300 
    flex 
    realative 
    p-2 
    overflow-hidden 
    gap-4 
    rounded-md 
    hover:bg-zinc-800
    shadow-lg
    hover:shodow-xl  bg-zinc-500/30
    w-44
    flex-col"
>
    <picture class="aspect-square w-full flex-none">
        <img
            class="object-cover w-full h-full rounded-md"
            src={cover}
            alt={`Cover ${title} de ${artistString}`}
        />
    </picture>

    <div class="flex flex-auto flex-col p-x-3">
        <h2 class="text-sm">
            {title}
        </h2>
        <span class="text-xs text-gray-400">
            {artistString}
        </span>
    </div>
</a>
